openai
python-dotenv
requests
termcolor
gradio
faiss-cpu
pypdf
numpy
pandas
matplotlib
seaborn


OOOOOOOOOOOOk I am from Kraków Wąwozowa 32b/1 there is json my_wardrobe with my wardrobe list. Read it and tell me what to wear. Rememeber I rather be cold than hot